.leftPanel{
    -fx-background-color :  #0C344E;
    -fx-border-color: #606060;
    -fx-border-width: 1px;
}
#topPanel{
    -fx-background-color : #0C344E;
    -fx-border-color: #606060;
    -fx-border-width: 1px;
}
#bottomPanel{
    -fx-background-color :#DCDCDC;
}
.centralPanel{
    -fx-background-color :  #C5D0E6;
}
.pane{
    -fx-background-color :#DCDCDC;
    -fx-border-color : #C1C1C1;
}
.list{
    -fx-border-radius : 20px 20px 20px 20px;
    -fx-background-radius : 20px 20px 20px 20px;
    -fx-background-color : #ECEFF1;
}
.hBoxBtn{
    -fx-alignment: center;
    -fx-border-color : #C1C1C1;
}
#mainPanel{
    -fx-min-height: 500px;
    -fx-min-width: 600px;
    -fx-border-color: #606060;
    -fx-border-width: 1px;
}
Button{
    -fx-background-color : #0C344E ;
}
Button:hover{
    -fx-background-color :#3C686E ;
}
/*Button:pressed{*/
/*    -fx-background-color : #2F2B43 ;*/
/*}*/
Button:focused{
    -fx-background-color : #01514C ;
}
/*#newTaskBtn{*/
/*    -fx-background-color : #2F2B43 ;*/
/*}*/
/*#newTaskBtn:hover{*/
/*    -fx-background-color :#3C686E ;*/
/*}*/
/*#newTaskBtn:pressed{*/
/*    -fx-background-color : #2F2B43 ;*/
/*}*/
/*#showTodoListBtn{*/
/*    -fx-background-color : #0C344E ;*/
/*}*/
#showTodoListBtn:hover{
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: #cacaca;
}
/*#showTodoListBtn:pressed{*/
/*    -fx-background-color : #2F2B43 ;*/
/*}*/
#showTodoListBtn:focused{
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: #cacaca;
}
/*#showBtn{*/
/*    -fx-background-color : #0C344E ;*/
/*}*/
/*#showBtn:hover{*/
/*    -fx-background-color :#3C686E ;*/
/*    -fx-border-width: 0 0 0 5px;*/
/*    -fx-border-color: #cacaca;*/
/*}*/
/*#showBtn:pressed{*/
/*    -fx-background-color : #2F2B43 ;*/
/*}*/
/*#showBtn:focused{*/
/*    -fx-background-color : #01514C ;*/
/*    -fx-border-width: 0 0 0 5px;*/
/*    -fx-border-color: #cacaca;*/
/*}*/


#imageClose {
   -fx-image: url("../img/close.png");
}
#imageClose:hover {
   -fx-image: url("../img/closeHover.png");
}

.table-row-cell:filled:focused:selected {
    -fx-background-color:  #01514C;
    -fx-text-fill: -fx-selection-bar-text;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #3C686E;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #C7C1DB;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #DCDCDC;
}
#menuBar{
    -fx-background-color : #0C344E;
    -fx-padding: 0;
}
#menuBar .label{
    -fx-text-fill: #DCDCDC;
    -fx-padding: 0;

}
.menu .label{
    -fx-font-size: 12;
    -fx-text-fill: #DCDCDC;
    -fx-padding: 0;
}
.menu:hover, .menu:focused, .menu:showing{
    -fx-background-color: #3C686E ;
}
.menuItem .label {
    -fx-text-fill: #DCDCDC;
}

.menuItem:focused, .menuItem:hover {
     -fx-background-color: #3C686E ;
}

.context-menu {
    -fx-background-color: #0C344E;
    -fx-background-insets: 0, 0, 0;/*0, 1, 2;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;  4 1 8 1 */
}
